@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');

.page {
  max-width: 375px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-size: 14px;
  margin: 0 auto;
  background-color: #FFF;
  color: #000;
}

.header {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.header__top {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.header__search {
  position: relative;
  min-width: 230px;
  height: 100%;

}

.header__search::placeholder {
  color: #6C6C6C;
}

.header__search-input {
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  height: 100%;
}

.header__search-input:focus {
  outline: none;
  border-color: #00F;
}

.header__search-submit {
  position: absolute;
  padding: 0;
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-image: url('./images/search.png');
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
  border: none;
}

.header__search-submit:hover {
  background-image: url('./images/search-hover.png');
  cursor: pointer;
}

.header__burger-menu {
  width: 45px;
  height: 45px;
  padding: 0;
  background-color: #F6F6F6;
  border-radius: 4px;
  border: 1px solid #E8E8E8;
  background-image: url('./images/menu_open.png');
  background-repeat: no-repeat;
  background-position: center;
}

.header__burger-menu:hover {
  cursor: pointer;
  background-color: #F0F0F0;
}

.header__burger-menu:active {
  background-color: #F9F9F9;
}

.header__breadcrumbs {
  font-size: 13px;
  min-height: 40px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  color: #005AA2;
}

.header__breadcrumbs-item {
  margin-left: 18px;
}

.header__breadcrumbs-item:first-of-type {
  margin: 0;
  list-style: none;
}

.header__breadcrumbs-item:last-of-type > .header__breadcrumbs-link {
  color: #000;
  cursor: default;
  font-weight: 700;
}

.header__breadcrumbs-link {
  text-decoration: none;
  color: #C3C3C3;
}

.header__breadcrumbs-link:hover {
  color: #005AA2;
}

.content {
  padding-top: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.product {
  width: 100%;
}

.product__title {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 40px;
}

.product__rating {
  padding-left: 15px;
  padding-right: 15px;
}

.product__rating:hover {
  cursor: pointer;
}

.product__menu {
  position: relative;
  height: 60px;
  margin-top: 20px;
  padding: 0 10px;
  background-color: #F6F6F6;
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #666;
  display: flex;
  gap: 30px;
  align-items: center;
  overflow: hidden;
}

.product__menu::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 100%;
  right: 0;
  background-image: linear-gradient(to right, transparent, #F6F6F6 80%);
}

.product__menu-item {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
}

.product__menu-item:not(:last-child) {
  min-width: fit-content;
}

.product__menu-item_active {
  color: #0057A0;
  border-top: 3px solid #F6F6F6;
  border-bottom: 3px solid #0057A0;
}

.product__menu-item:hover {
  cursor: pointer;
  color: #FF57A0;
  border-top: 3px solid #F6F6F6;
  border-bottom: 3px solid #FF57A0;
}

.product__menu-item_active:hover {
  cursor: default;
  color: #0057A0;
  border-top: 3px solid #F6F6F6;
  border-bottom: 3px solid #0057A0;
}

.product__photos {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.specifications {
  padding: 10px 18px;
}

.specifications__title {
  text-transform: uppercase;
  font-size: 25px;
}

.specifications__list {
  list-style: none;
  padding: 0;
}

.specifications__item {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #6A6A6A;
}

.order {
  border: 2px solid #E9E9E9;
  border-radius: 5px;
  margin: 0 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.order__price {
  display: flex;
  flex-direction: column;
}

.order__price-item {
  font-size: 30px;
  font-weight: 700;
  color: #005AA2;
  margin-top: 15px;
  margin-bottom: 15px;
}

.order__price-meter {
  font-size: 18px;
  color: #BEBEBE;
  margin: 0;
}

.order__price-article {
  color: #005AA2;
}

.order__buttons {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.order__quantity {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #E9E9E9;
  border-radius: 5px;
}

.order__quantity-button {
  width: 35px;
  height: 35px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.order__quantity-button:hover {
  opacity: .8;
}

.order__quantity-button:active {
  opacity: .6;
}

.order__quantity-button_minus {
  background-color: #F6F6F6;
  background-image: url('./images/minus.png');
}

.order__quantity-button_plus {
  background-color: #005AA2;
  background-image: url('./images/Plus.png');
}

.order__quantity-result {
  margin: 0;
  font-weight: 700;
}

.order__button {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  padding-left: 25%;
  background-repeat: no-repeat;
  background-position: 15% center;
}

.order__button:hover {
  opacity: .8;
  cursor: pointer;
}

.order__button:active {
  opacity: .6;
}

.order__button_type_cart {
  background-color: #005AA2;
  background-image: url('./images/shopping_cart.png');
}

.order__button_type_favorites {
  background-image: url('./images/favorite_border.png');
  background-color: #F6F6F6;
  border: 2px solid #E9E9E9;
  color: #666;
}

.order__button_type_call {
  background-image: url('./images/phone_in_talk.png');
  background-color: #00C232;
}

.order__contacts {
  margin-top: 15px;
  display: flex;
}

.order__contacts-tip {
  font-size: 13px;
  line-height: 1.4;
  max-width: 64%;
  color: #646464;
}

.order__contacts-list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.order__contacts-item:hover {
  cursor: pointer;
  opacity: .8;
}

.order__contacts-item:active {
  opacity: .6;
}

.bold {
  font-weight: 700;
}

.black {
  color: #000;
}