.header {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  &__top {
    height: 45px;
    display: flex;
    justify-content: space-between;
  }

  &__search {
    position: relative;
    min-width: 230px;
    height: 100%;

    &::placeholder {
      color: #6C6C6C;
    }
  }

  &__search-input {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
    height: 100%;

    &:focus {
      outline: none;
      border-color: #00F;
    }
  }

  &__search-submit {
    position: absolute;
    padding: 0;
    width: 45px;
    height: 45px;
    background-color: transparent;
    background-image: url('./images/search.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 0;
    border: none;

    &:hover {
      background-image: url('./images/search-hover.png');
      cursor: pointer;
    }
  }

  &__burger-menu {
    width: 45px;
    height: 45px;
    padding: 0;
    background-color: #F6F6F6;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    background-image: url('./images/menu_open.png');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      cursor: pointer;
      background-color: #F0F0F0;
    }
  
    &:active {
      background-color: #F9F9F9;
    }
  }

  &__breadcrumbs {
    font-size: 13px;
    min-height: 40px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    color: #005AA2;
  }

  &__breadcrumbs-item {
    margin-left: 18px;

    &:first-of-type {
      margin: 0;
      list-style: none;
    }

    &:last-of-type > .header__breadcrumbs-link {
      color: #000;
      cursor: default;
      font-weight: 700;
    }
  }

  &__breadcrumbs-link {
    text-decoration: none;
    color: #C3C3C3;

    &:hover {
      color: #005AA2;
    }
  }
}